@page "/users"
@inject NavigationManager _navigationManager;

@inherits UsersBase

<PageTitle>Users</PageTitle>

<h3>@welcomeText</h3>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@code {

}
